@font-face {
  font-family: 'Orkney';
  src: url('../fonts/orkney-light.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: url('../fonts/orkney-regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: url('../fonts/orkney-medium.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: url('../fonts/orkney-bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

::-moz-selection {
  background: #c6c6c6;
  color: white;
}

::selection {
  background: #c6c6c6;
  color: white;
}

body {
  font-family: 'Orkney';
  background-color: #f7fbfb;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 767px;
}

.min-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 655px;
}

img,
.video-container {
  box-shadow: 0 6px 50px rgba(0, 0, 0, .06);
}

a {
  color: #000c21;
  font-weight: 700;
}

a:hover {
  color: #000c21;
  border-bottom: 1px dashed #000c21;
  text-decoration: none;
}

.min-container p {
  text-align: justify;
  font-weight: 200;
  font-size: 1.05em;
  color: #111;
}

.min-container h4 {
  padding-top: 3em;
}

.max-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 880px;
}

@media (max-width: 767px) {
  .min-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

figcaption {
  text-align: center;
  font-style: italic;
  padding-top: 1.5em;
  font-weight: 200;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background-color: #000c21;
  background-image: linear-gradient(19deg, #000c21 0%, #001644 100%);
  transform: skewY(3.5deg);
  position: absolute;
  top: -30vh;
}

#particles-js.project-page {
  top: -50vh;
}

@media (max-width: 767px) {
  #particles-js {
    height: 130vh;
    transform: skewY(0deg);
  }

  #particles-js.project-page {
    transform: skewY(3.5deg);
    top: -80vh;
  }
}

section#projects {
  margin-top: 85vh;
  background-color: #f6fafb;
  padding-bottom: 35px;
}

article {
  margin-top: 50vh;
  background-color: #f6fafb;
  padding-bottom: 35px;
}

@media (max-width: 767px) {
  section#projects {
    margin-top: 110vh;
  }
}

#hero {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
}

@media (max-width: 767px) {
  #hero {
    top: 5vh;
  }
}

@media (max-width: 991px) {
  #hero {
    width: 90%;
  }
}

#hero.project-page {
  top: -140px;
}

#hero h1 {
  font-size: 2em;
  font-weight: 500;
}

#hero a {
  color: white;
  border-bottom: 1px dashed white;
}

#hero p.description {
  font-size: 1.05em;
  font-weight: 200;
  line-height: 1.9em;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

#hero p.links a {
  margin-top: 1.5em;
  border-bottom: none;
}

.project {
  position: relative;
  /* to make the entire div clickable */
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  margin-top: 50px;
}

.project .badges {
  padding-bottom: 6px;
}

.project .badges .badge-light {
  color: #b2b2b2;
  font-size: 0.65em;
  padding: 0;
  padding-right: 0.5em;
  background-color: transparent;
}

.project .align-container {
  display: inline-block;
  vertical-align: top;
}

.project:nth-of-type(1) {
  margin-top: 0
}

@media (min-width: 768px) {
  .project {
    width: 47%;
    margin-right: 4%
  }

  .project:nth-of-type(2n) {
    margin-right: 0
  }

  .project:nth-of-type(1),
  .project:nth-of-type(2) {
    margin-top: 0
  }
}

@media (min-width: 992px) {
  .project {
    width: 30%;
    margin-right: 3%
  }

  .project:nth-of-type(2n) {
    margin-right: 3%
  }

  .project:nth-of-type(3n) {
    margin-right: 0
  }

  .project:nth-of-type(3) {
    margin-top: 0
  }
}

.project a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  border-bottom: none;
}

.project:hover {
  cursor: pointer;
}

.project .information-container {
  clear: both;
}

.project h3 {
  font-size: 1.3em;
}

.project p.description {
  font-weight: 200;
  font-size: 0.9em;
  color: #7a7a7a;
  line-height: 140%;
  padding-top: 5px;
}

a.btn-light,
button.btn-light {
  background-color: white;
  box-shadow: 0 6px 50px rgba(0, 0, 0, .06);
  border-radius: 16px;
  font-weight: 200;
  font-size: 0.9em;
}

.project button.btn-light span {
  max-width: 0;
  -webkit-transition: max-width 0.2s;
  transition: max-width 0.2s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.project:hover button.btn-light span {
  max-width: 14rem;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
}

button.btn-warning {
  background-color: #ffd696;
  border: none;
  box-shadow: 0 6px 50px rgba(0, 0, 0, .06);
  border-radius: 16px;
  font-weight: 200;
  font-size: 0.9em;
}

button.btn-primary {
  background-color: #000c21;
  color: white;
  border: none;
  box-shadow: 0 6px 50px rgba(0, 0, 0, .06);
  border-radius: 16px;
  font-weight: 200;
  font-size: 0.9em;
}

article {
  padding-bottom: 1em;
}

article p {
  padding-top: 35px;
  padding-bottom: 20px;
  line-height: 1.75em;
}

footer {
  background-color: white;
  margin-bottom: 0;
}

footer p {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  margin-bottom: 0;
}

.video-container {
  /* give fit to box an aspect ratio */
  display: inline-block;
  /* let it be styled thusly */
  padding: 0;
  /* get rid of pre-styling */
  margin: 0;
  margin-top: 50px;
  width: 100%;
  /* take up full width available */
  padding-top: 56.25%;
  /* give aspect ratio of 16:9; "720 / 1280 = 0.5625" */
  height: 0px;
  /* don't want it to expand beyond padding */
  position: relative;
  /* allow for absolute positioning of child elements */
}

.video-container > iframe {
  position: absolute;
  /* expand to fill */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
